
@{
    ViewBag.Title = "Index";
}



<div class="row">
    <div class="col-md-1">
        <input type="number" id="n1" class="form-control" />
    </div>
    <div class="col-md-1">
        <input type="number" id="n2" class="form-control" />
    </div>
    <div class="col-md-1">
        <input type="number" id="n3" class="form-control" />
    </div>  
    <div class="col-md-1">
        <input type="number" id="n4" class="form-control" />
    </div>
    <div class="col-md-1">
        <input type="number" id="n5" class="form-control" />
    </div>
    <div class="col-md-1">
        <input type="number" id="n6" class="form-control" />
    </div>
    <div class="col-md-1 pull-right">
        <a href="#" id="btnSalvar" class="btn btn-primary">Salvar</a>
    </div>
    <div class="col-md-1 pull-right">
        <a href="#" id="btnLimpar" class="btn btn-primary">Limpar</a>
    </div>
</div>
<br />
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Jogo</th>
                <th>Registro</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<br />
<div class="row">
    <a href="#" id="btnSortear" class="btn btn-block btn-primary">Sortear!</a>
</div>
<br />
<div class="row" id="resposta">

</div>

